@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

.container_css {
    max-width: 1170px !important;
    margin-left:auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.bg_body {
    background: #EDF1F2;
}

/* font classes  */
.ff_libre {
    font-family: 'Libre Franklin', sans-serif;
}

.ff_inter {
    font-family: 'Inter', sans-serif;
}

:root {
    /* font size  */
    --fs-xsm: 7px;
    --fs-sm: 10px;
    --fs-xmd: 11px;
    --fs-md: 12px;
    --fs-lg: 14px;
    --fs-xlg: 16px;

    /* font color  */
    --text-4f4f4f: #4f4f4f;
    --text-474749: #474749;
    --text-fffffff: #ffffff;
    --text-000000: #000000;
    --text-a8a8a8: #a8a8a8;
    --text-7c7c7c: #7c7c7c;
    --text-ffc881: #ffc881;
    --text-A5A3A9: #A5A3A9;
    --text-828282: #828282;
    --text-130f26: #130f26;
}

.text-ffc881 {
    color: var(--text-ffc881);
}

.text-4f4f4f {
    color: var(--text-4f4f4f);
}

.text-474749 {
    color: var(--text-474749);
}

.text-fffffff {
    color: var(--text-fffffff);
}

.text-000000 {
    color: var(--text-000000);
}

.text-a8a8a8 {
    color: var(--text-a8a8a8);
}

.text-7c7c7c {
    color: var(--text-7c7c7c);
}

.text-A5A3A9 {
    color: var(--text-A5A3A9);
}

.text-828282 {
    columns: var(--text-828282);
}

.text-130f26 {
    color: var(--text-130f26);
}

.fs-xsm {
    font-size: var(--fs-xsm);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xmd {
    font-size: var(--fs-xmd);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xlg {
    font-size: var(--fs-xlg);
}


/* sidebar css  */

/* width */
::-webkit-scrollbar {
    width: 0.5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 170, 0);
    border-radius: 10px;
}

.sidebar {
    height: 100%;
    width: 305px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #FFFDFF;
    box-shadow: 1px 4px 34px 0px rgba(255, 255, 255, 0.25);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: px;
}

.sidebar a {
    padding: 13px 135px 14px 14px;
    text-decoration: none;
    font-size: 2 5px;
    color: #818181;
    display: flex;
    align-items: center;
}

.sidenav_logo {
    top: 43px;
    left: 40%;

}
.sidebar .closebtn {
    position: absolute;
    top: 1%;
    right: -40%;
    font-size: 36px;
    margin-left: 50px;
    color: #DA8517;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background: var(--color-p, linear-gradient(147deg, #FFC881 0%, #DA8517 100%));
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  

ul li a:hover {
    padding: 13px 135px 14px 14px;
    color: rgba(218, 133, 23, 1);
    border-radius: 22.5px;
    background: linear-gradient(88deg, rgba(238, 169, 80, 0.27) 0%, rgba(238, 169, 80, 0.00) 100%);
}

ul li :hover path {
    fill: rgba(218, 133, 23, 1);
}


/* container css */
input {
    outline: none;
    border: none;
}

.searchbox {
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 18px;
    border: 1px solid var(--gray-11, #E8E8EA);
    background-color: #FFFDFF;
}

.box_col_8 {
    border-radius: 18px;
    background: #FFF;
    flex-shrink: 0;
    padding: 26px 34px;

}

.explore_btn {
    background: var(--color-p, linear-gradient(147deg, #FFC881 0%, #DA8517 100%));
    color: #FFF;
    padding: 8px 16px;
    border-radius: 22px;
    transition: all .6s linear;
}
.explore_btn:hover{
    box-shadow: 1px 4px 34px 0px rgba(240, 154, 6, 0.651);
    background: #FFF;
    color:orange;
    transform: translatey(-10px);
}

.show_btn {
    padding: 15.5px 116px;
    color: #FFF;
    background: var(--color-p, linear-gradient(147deg, #FFC881 0%, #DA8517 100%));
    border-radius: 22px;
    transition: all .6s linear;
}
.show_btn:hover{
    box-shadow: 1px 4px 34px 0px rgba(240, 154, 6, 0.651);
    background: #FFF;
    color:orange;
    transform: translatey(-10px);
}
#months{
    border-radius: 4px;
    border: 1px solid #A8A8A8;
    padding: 5px 4px;
    outline: none;
}

.infobar_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--text-ffc881);
    border-radius: 7px;
}

.txt_brdr_right {

    width: 1px;
    background-color: #ffc881;
    height: 59px;
}

.heart svg:hover path {
    fill: red;
    cursor: pointer;
}

.slider_img {
    border-radius: 18px;
}

.hover_images {
    position: relative;
}

.overlay1 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(106, 106, 106, 0.50);
    border-radius: 0px 0px 18px 18px;
    backdrop-filter: blur(4px);
    transition: all .3s ease-in-out;

}

.hover_images:hover .overlay1 {
    height: 45%;
    cursor: pointer;
    overflow: visible;
    padding-bottom: 10px;

}
.img_scale{
    transition: all .3s ease-in-out;
}
.img_scale:hover{
    transform:scale(1.1);
}

.post_box {
    border-radius: 18px;
    background: #FFF;
    padding: 9px 9px 9px 9px;
    transition: all .3s ease-in-out;
}

.post_box:hover {
    box-shadow: 1px 4px 34px 0px rgba(240, 154, 6, 0.651);
    transform: scale(1.1);
}

.history_box {
    padding: 20px 15px;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

}
@media (max-width:768px) {
    .cody_{
        display: none;
    }

    
}